<div style='algin:center; text-align: center;'>
<script type="text/javascript">
			<!--
			google_ad_client = "ca-pub-5451791355824681";
			/* 横幅 */
			google_ad_slot = "9817358828";
			google_ad_width = 468;
			google_ad_height = 60;
			//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</div>		