body { background-color: #fff; color: #333;}

body, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #33f; }
a:visited { color: #33f; }
a:hover { color: #c00; text-decoration:none; background-color: #eee; }

th, td {
  text-align: left;
  padding: 2px 10px;
}

#wrapper {
  width: 960px;
  text-align: center;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inline;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

table.rank th, table.rank td {
  text-align: right;
}

.hi {color: #f00; font-weight: bold;}


#menu {
    float: left;
    width: 12%;
    margin: 10px;
    border: solid 1px #ccc;
    height: 500px;
    padding:5px;
}

#right {
    float: right;
    width: 84%;
}

#right table {
    width: 796px;
}


