<script type="text/javascript">
	<!--
	google_ad_client = "ca-pub-5451791355824681";
	/* 右侧 */
	google_ad_slot = "7076775228";
	google_ad_width = 300;
	google_ad_height = 250;
	//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>

<div style='margin-top:15px;'>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-5451791355824681";
/* 右侧文字广告 */
google_ad_slot = "2587356376";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
